.form {
    background-color: rgba(255, 255, 255, 0.055);
    width: 30vw;
    height: 75vh;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 10%; */
    padding-top: 2vh;
    padding-bottom: 1vh;
    box-shadow: 30px 20px 20px black;


}

.form .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    width: 70%;
}

.form label {
    text-transform: uppercase;
    font-weight: 500;
}

.form input,
.form textarea,
.form select {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: 10px auto 20px;
    text-align: center;
    border: 2px solid rgba(137, 43, 226, .9);
    font-size: 2vh;
    padding: 1vh .5vw 1vh;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: .3s;
    width: 90%;

}

.form select {
    /* color: black; */
    color: gray;
    text-align-last: center;
    display: flex;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* text-align-last: center; */

}

.form option {
    background-color: rgba(0, 0, 0, 0.793);
    text-align: center;
    /* color: whitesmoke; */


}

.form textarea {
    resize: none;
}



.form input:focus,
.form textarea:focus,
.form select:focus {
    border: 2px solid #0d91ae;
    /* transform: scaleX(1.2); */
    width: 95%;
}



.submit-button {
    border: 0;
    background-color: #333;
    margin: 1vh auto;
    text-align: center;
    border: 2px solid rgba(137, 43, 226, .9);
    font-size: 2vh;
    padding: 1vh 0 1vh;
    outline: none;
    color: whitesmoke;
    border-radius: 10px;
    width: 20%;
    text-transform: uppercase;

}