@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Fascinate&family=Libre+Barcode+39+Text&family=Lobster&family=Pacifico&family=Press+Start+2P&family=Ravi+Prakash&family=Shadows+Into+Light&display=swap');


.header {
    background-color: rgba(137, 43, 226, 0.234);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;


}

.header svg {
    height: 100%;
    width: auto;
}

.header .burger-existed {
    display: flex;
    height: 100%;
    order: 2;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;
    transition: .3s;
}

.header .burger-existed svg {
    transition: .3s;

}

.header .burger-existed svg:hover {
    transform: scale(1.1) rotate(360deg);

}

.header .burger-hidden {
    display: flex;
    height: 100%;
    order: 2;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;
    transition: .3s;
    opacity: 0;
}

.header span {
    font-size: 40px;
    /* font-family: Fascinate; */
    /* font-family: Lobster; */
    /* font-family: Dancing Script; */
    /* font-family: Ravi Prakash; */
    /* font-family: Shadows Into Light; */
    /* font-family: Caveat; */
    font-family: 'Libre Barcode 39 Text';
    /* font-family: 'Press Start 2P'; */
    /* font-weight: 200; */
}



header * {
    padding: 3px;
}

.header .logo {
    padding-left: 5vw;
    padding-right: 0.5vw;
    height: 80%;
}

.header img {
    padding-left: 5vw;
    padding-right: 0.5vw;
    height: 180%;

}