@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0f292f;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cb2d6f;
    border-radius: 10px;
    transition: 2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 2s;
    background: #d14f85;
}


html,
body,
.app,
#root {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
}


.content,
.content-cropped {
    background-color: #19181a;
    width: 100%;
    height: 100%;
    transition: 500ms;

}

.content-cropped {
    width: 83%;

}

.content {
    width: 100%;

}

.push-appear,
.push-enter {
    z-index: 0;
    opacity: 0;
}

.push-appear-active,
.push-enter.push-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;

}

.push-exit {
    z-index: 0;
    opacity: 1;

}

.push-exit.push-exit-active {
    z-index: 1;
    opacity: 0;
    transition: opacity 150ms linear;
}